body {
    font-family: 'Roboto', sans-serif;
}

.seat {
    height: 40px;
    width: 40px;
    color: whitesmoke;
}

.aisle {
    background-color: blue;
}

.middle {
    background-color: maroon;
}

.window {
    background-color: green;
}